<h1> My Favorite Fruit Juice </h1>

<ul>
  <li>Apple</li>
  <li>Orange</li>
  <li>Banana</li>
  <li>Test </li>
  <li>Grapes </li>
  <li>Tomatoes</li>
</ul>

<h1> My Favorite Fruit In Order </h1>

<ol>
  <li>BananaS</li>
</ol>
